extends layout
block content
 h1= title
 - let dormid = toShow._id
 - let dorm_type = toShow.dorm_type
 - let dormcost = toShow.cost
 - let dormsize = toShow.size
 div
 div.row
 div(class='dormAttr mr-3') Dorm ID is:
 div #{dormid}
 div.row
 div(class='dormAttr mr-3') Dorm Type is:
 div #{dorm_type}
 div.row
 div(class='dormAttr mr-3') Dorm Size is:
 div #{dormsize}
 div.row
 div(class='dormAttr mr-3') Dorm Cost is:
 div #{dormcost}
