extends layout

block content
  h1= title
  p Welcome to #{title} 

  div(class="container-fluid")
     div(class="row m-1")
        each item,index in results
            - let destination = `dispatch(\"/dorm/update?id=${item._id}\")`
            div.col-sm-2(onclick=`buy(${index})`) dorm_Name: #{item["dorm_Name"]}  <br>  dorm_Type: #{item["dorm_Type"]} <br> dorm_Cost: #{item["dorm_Cost"]}
            button.btn( class="btn-primary ml-1", onclick= destination) Update 

   
  script.
    function buy(index){
      alert("you purchased item "+(index+1))
    }

  script. 
    function dispatch(path){ 
      window.location.href=path 
    }